<!DOCTYPE html>
<html lang="zh-CN">
<head>
{#    <meta http-equiv="refresh" content="10;url='/'">#}
    <meta charset="utf-8">
    <title>老人位置</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <style>
    body,
    html,
    #container {
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin: 0;
        font-family: "微软雅黑";
    }
    </style>
    <script src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=U2W7f0h5u4CtOdqKqSIGkp3dpV0TMSqe"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>

</head>
<body >

    <div id="log"></div>
    <div>
        <p>有效数据</p>
        <p id="demo">
        </p>
    </div>
    <button onclick="SetFirstPosion()">
        设置第一个位置坐标
    </button>
    <p id="FirstPosion">
    </p>

    <button onclick="SetSecondPosion()">
        设置第二个位置坐标
    </button>
    <p id="SecondPosion">
    </p>


    <p>输入两点的实际距离:
        <input id="numb">
        <button type="button" onclick="validateForm()">计算理论距离及精度</button>
    </p>

    <p id="distance" >
    </p>

    <div id="container"></div>
</body>
</html>
<script type="text/javascript" src="static/js/main.min.js"></script>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript"></script>

<script>
    var x1;
    var y1;
    var x2;
    var y2;
    var curData1=116.35992484731833;
    var curData2=39.98689598478704;

      var map = new BMapGL.Map('container');
    {#var point = new BMapGL.Point( {{ data1 }},{{data2}} );#}
    {#var point = new BMapGL.Point( curData1,curData2 );#}
    var point = new BMapGL.Point(curData1,curData2 );
    map.centerAndZoom(point, 15);

        map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
        var scaleCtrl = new BMapGL.ScaleControl();  // 添加比例尺控件
        map.addControl(scaleCtrl);
        var zoomCtrl = new BMapGL.ZoomControl();  // 添加比例尺控件
        map.addControl(zoomCtrl);

    // 创建点标记
    var marker = new BMapGL.Marker(point);
    map.addOverlay(marker);
    // 创建信息窗口
    var opts = {
        width: 200,
        height: 100,
        title: '老人信息'
    };
    var infoWindow = new BMapGL.InfoWindow('姓名：张三' +'\r\n'+
            '年龄：69', opts);
    // 点标记添加点击事件
    marker.addEventListener('click', function () {
        map.openInfoWindow(infoWindow, point); // 开启信息窗口
    });




         $(document).ready(function() {
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io();

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my_response', function(msg, cb) {
                $('#log').text('Received count' + msg.count+'  ' +msg.msgdata).html();
                $('#demo').text('当前位置经度' + msg.data1 +'当前维度：'+msg.data2).html();
                curData1=msg.data1;
                curData2=msg.data2;
                point = new BMapGL.Point(curData1,curData2 );
                map.centerAndZoom(point, 15);
                {#console.log("map ok");#}
                map.clearOverlays();
                {#console.log("clear mark");#}
                var marker = new BMapGL.Marker(point);
                map.addOverlay(marker);
                {#console.log("mark ok");#}

                if (cb)
                    cb();
            });

        });
        function SetFirstPosion(){
            x1= curData1;
            y1= curData2;
            document.getElementById("FirstPosion").innerHTML="第一个点经度"+x1+"第二个点"+y1;
        }
        function SetSecondPosion(){
            x2= curData1;
            y2= curData2;
            document.getElementById("SecondPosion").innerHTML="第二个点经度"+x2+"第二个点"+y2;
        }


        function validateForm() {
            console.log("计算")
            var x = document.getElementById("numb").value;
            if (isNaN(x)) {
                text = "输入错误";
            } else {

                console.log("x="+x)
                var radLat1=y1*(Math.PI/180);
                var radLat2=y2*(Math.PI/180);
                var radLong1=x1*(Math.PI/180);
                var radLong2=x2*(Math.PI/180);
                var a = radLat1 - radLat2;
                var b = radLong1 - radLong2;
                var  s = 2 * Math.asin(Math.sqrt(Math.pow(Math.sin(a / 2), 2) +
                    Math.cos(radLat1) * Math.cos(radLat2) * Math.pow(Math.sin(b / 2), 2)));
                console.log("s=",s);
                s = s *  6378137;
                s =Math.round(s*10000)/10000;
                var accuracy=x-s;
                console.log(s+"米")
                text = "两点理论计算距离为："+s+"米，误差为"+accuracy+"米";
            }

            document.getElementById("distance").innerHTML =      text;



        }


</script>
