# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\师姐爆炸式跌倒项目资料\SocketServer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
